<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>		    
            <add name="employee" path="employee" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv2.0,bitness32" />
        </handlers>
    </system.webServer>
    <system.web>
        <authorization>
            <allow users="?" />
			<deny users="?"/>
        </authorization>
    </system.web>
</configuration>
