<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
  <connectionStrings>
    <add name="connectionString" connectionString="Server=127.0.0.1;Database=Company;User Id=sa; Password=sa;" providerName="System.Data.SqlClient" />
  </connectionStrings>
<system.web>
<compilation debug="true">
</compilation>
<httpHandlers>
<add type="RestService.Rest, RestService" verb="*" path="employee" />
</httpHandlers>
</system.web>
<system.webServer>
<handlers>
<add name="employee" path="employee" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32" />
</handlers>
<directoryBrowse enabled="true" />
</system.webServer>

</configuration>
